body {
    background-color: #e2e2e2;
}
img {
padding-left: 0px!important;
padding-right: 0px!important;
padding-bottom: 10px;
width: 100%;
height: auto;
border-radius: 20px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: solid #5d49542f;
}
@media (max-width: 484px) {
.hidden-xs{
    display: none;
}
img{
    align-self: initial;
}
.main{
    display: block;
}
}